* 
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* background */

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Images/WorkTeam/Work\ Team.jpeg);
    background-position: top;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(10, 10, 10, 0.562);
}

main article
{
    width: 70%;
}

main article h1, main article p
{
    text-align: center;
    color: white;
}

main article h1
{
    font-size: var(--size-h1Main);
}
main article p
{
    font-size: var(--size-pMain);
}

/* what is */

#whatIs
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

#whatIs article
{
    padding: 10px;
    width: 45%;
}

.imgWhat img
{
    width: 55%;
}

.img2
{
    transform: translateY(-50px) translateX(100px);
    width: 360px;
}

.textWhat h2, .textWhat p
{
    padding: 8px;
}

.textWhat h2
{
    font-size: var(--size-h2);
}
.textWhat p
{
    font-size: var(--size-p);
}

/* valors */

#valors
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

#valors article
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textValors
{
    width: 50%;

}

.textValors h2, .textValors p
{
    padding: 8px;
    text-align: justify;
}

.textValors h2
{
    font-size: var(--size-h2);
}

.textValors p
{
    font-size: var(--size-p);
}



.listValors
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.listValors div
{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.listValors h2
{
    padding: 10px;
}

.listValors span
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    width: 50%;

}
.listValors span i
{
    padding: 20px;
    border: solid var(--border-WorkingProcess) 5px;
    border-radius: 50%;


}

/* work team */

.contenedor
{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor
{
    width: 100%;
    display: flex;
    border-color: #000;
}

.contenido-slider
{
    width: 100%;
    /* height: 600px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider img
{
    width: 60%;
    border-radius:  10%;
    padding: 20px 0;
    
}



.contenido-slider div
{
    width: 100%;
}

.contenido-slider h2
{
    font-weight: 300;
    line-height: 30px;
}

.contenido-slider h3
{
    font-weight: 250;
    text-align: justify;
    line-height: 30px;   
}

@media screen and (max-width: 900px){
    .contenido-slider img{
    }

    .contenido-slider div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }

    .contenido-slider h3{
        font-size: 18px;
    }
}


@media screen and (max-width: 600px){
    .contenido-slider{
        flex-direction: column-reverse;
    }

    .contenido-slider div{
        width: 80%;
    }

}

/* balance sheets */

#balance
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#balance span
{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#balance h1, #balance span
{
    padding: 10px;
}

#balance span article
{

    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: 40%;
    background-color: #2df144;
    border-radius: 50px  40%;
}

#balance span article h2, #balance span article p, #balance span article a
{
    margin: 15px;
    text-align: justify;
}

#balance span article h2
{
    color: white;
}

#balance span article div
{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

#balance span article a
{
    display: flex;   
    align-items: center;
    justify-content: center;
    padding: 8px;

    width: 35%;
    text-decoration: none;
    background-color: var(--background-a);
    color: var(--color-a);
    border-radius: 20px;
}

#balance span article a h3, #balance span article a i
{
    padding: 5px;
}

@media(max-width: 760px)
{

    main article
    {
        width: 100%;
    }

    .contenido-slider
    {
        flex-direction: column;
    }

    .contenido-slider img
    {
        width: 80%;
    }

    
    #balance span article 
    {
        width: 80%;
    }

}

