* 
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root
{

/* header */
--color-aHeader: white;
--color-JX: white;

--size-aHeader: 20px;
--size-JX: 30px;

--background-header: white;


/* main */
--size-h1Main: 65px;
--size-pMain: 30px;



/* background */

--background-JX: rgb(253, 163, 17);
--background-a: rgba(255, 255, 255, 0.836);

/* our working process */

--border-WorkingProcess: rgb(253, 163, 17);
--color-iWorkingProcess: rgb(23,25,24);

/* Work team */

--color-profile: rgb(253, 163, 17);

/* footer */

--color-icon: white;
--color-copy: gray;
--color-aFooter: white;
--background-footer: rgb(23,25,24);



/* font size */

--size-h1: 60px;
--size-h2: 30px;
--size-h3: 22px;
--size-p: 22px;
--size-a: 20px;

}

/* header */

/* down */

header.down
{
    background-color: var(--background-header);

    padding: 5px 10px;
    z-index: 10;

    border-bottom: solid black 2px;
}

header.down a
{
    color: black;
}


header
{
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    transition: 0.7s;
    
    top: 0;
    right: 0;
    left: 0;

    padding: 15px 20px;
    font-family: Helvetica, sans-serif;
}

header ul
{
    display: flex;
    justify-content: center;
}

header ul li
{
    list-style: none;
    margin: 0 20px;

}

header ul li a
{
    color: var(--color-aHeader);
    font-size: var(--size-aHeader);
    
    padding: 10px 0px;
    text-decoration: none;
    letter-spacing: 1px;
    
}

.JX a
{
    font-size: var(--size-JX);
    color: var(--color-JX);

    text-decoration: none;

}

/* background */

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url(Images/workTeam.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(10, 10, 10, 0.562);
}

main article
{
    width: 70%;
}

main article h1, main article p
{
    text-align: center;
    color: white;
}

main article h1
{
    font-size: var(--size-h1Main);
}
main article p
{
    font-size: var(--size-pMain);
}

/* what is */

#whatIs
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

#whatIs article
{
    padding: 10px;
    width: 45%;
}

.imgWhat img
{
    width: 55%;
}

.img2
{
    transform: translateY(-50px) translateX(100px);
    width: 360px;
}

.textWhat h2, .textWhat p
{
    padding: 8px;
}

.textWhat h2
{
    font-size: var(--size-h2);
}
.textWhat p
{
    font-size: var(--size-p);
}

/* valors */

#valors
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

#valors article
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textValors
{
    width: 50%;

}

.textValors h2, .textValors p
{
    padding: 8px;
    text-align: justify;
}

.textValors h2
{
    font-size: var(--size-h2);
}

.textValors p
{
    font-size: var(--size-p);
}



.listValors
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.listValors div
{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.listValors h2
{
    padding: 10px;
}

.listValors span
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    width: 50%;

}
.listValors span i
{
    padding: 20px;
    margin: px;
    border: solid var(--border-WorkingProcess) 5px;
    border-radius: 50%;


}

/* work team */

.contenedor
{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor
{
    width: 100%;
    display: flex;
    border-color: #000;
}

.contenido-slider
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider img
{
    width: 400px;
    
}

.contenido-slider div
{
    width: 40%;
}

.contenido-slider h2
{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider h3
{
    font-weight: 250;
    text-align: justify;
    line-height: 30px;   
}

@media screen and (max-width: 900px){
    .contenido-slider img{
        width: 250px;
    }

    .contenido-slider div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }

    .contenido-slider h3{
        font-size: 18px;
    }
}


@media screen and (max-width: 600px){
    .contenido-slider{
        flex-direction: column-reverse;
    }

    .contenido-slider div{
        width: 80%;
    }

}

/* balance sheets */

#balance
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#balance span
{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#balance h1, #balance span
{
    padding: 10px;
}

#balance span article
{

    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: 40%;
    background-color: var(--color-profile);
    border-radius: 50px  40%;
}

#balance span article h2, #balance span article p, #balance span article a
{
    margin: 15px;
    text-align: justify;
}

#balance span article div
{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

#balance span article a
{
    display: flex;   
    align-items: center;
    justify-content: center;
    padding: 8px;

    width: 35%;
    text-decoration: none;
    background-color: var(--background-a);
    color: var(--color-a);
    border-radius: 20px;
}

#balance span article a h3, #balance span article a i
{
    padding: 5px;
}

/* footer */

footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--background-footer);
}

.logos
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 50%;
}

.logos img
{
    width: 60px;
}

footer nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.JavaX
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: var(--background-JX);
    border-radius: 15%;
}

.JavaX a
{
    color: var(--color-JX);   
    text-decoration: none; 
    font-size: var(--size-JX);

}

footer nav ul
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

footer nav ul li
{
    padding: 10px;
    list-style: none;
    margin: 10px;
}

footer nav ul li a
{
    text-decoration: none;
    font-size: var(--size-aHeader);
    color: var(--color-aFooter);
    letter-spacing: 1px;
}

footer span
{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span a
{
    padding: 10px;
    margin: 5px;
}

footer span a i
{
    color: var(--color-icon);
    padding: 0 5px;
}

footer h4
{
    color: var(--color-copy);
}


/* media 800px */

@media (max-width: 800px)
{

    .services article
    {
        width: 80%;
    }
    header
    {
        display: none;
    }

    footer
    {
        display: none;
    }
}

