* 
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}






/* background */

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(Images/Others/Contact\ Us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: rgba(10, 10, 10, 0.562);

}

main article
{
    width: 70%;
}

main article h1, main article p
{
    text-align: center;
    color: white;
}

main article h1
{
    font-size: var(--size-h1Main);
}
main article p
{
    font-size: var(--size-pMain);
}

/* Contact Us */

#contactUs
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.socialNetWork
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.socialNetWork a
{
    padding: 10px;
    margin: 5px;
}

.socialNetWork a i
{
    color: black;
    padding: 0 5px;
}

#contactUs div
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#contactUs div h3, #contactUs div a
{
    padding: 2px 15px;
}

#contactUs div a
{
    text-decoration: none;
    color: black;
    border-bottom: solid black 2px;
    letter-spacing: 1px;
    font-family: Helvetica;

}

#contactUs div i
{
    padding: 0 8px 0px 15px;
}


/* quote */

#quote
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

#quote form
{
    padding: 10px;
    margin: 10px;
    width: 45%;
}

#quote form div
{
    display: flex;
    flex-direction: column;
}

#quote form div label, #quote form div input, #quote form div h3, #quote form div textarea
{
    padding: 10px;
}

#quote iframe
{
    width: 45%;
    margin: 10px;
}


/* discount */

#discount
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 5px;
}

#discount h1
{
    font-size: var(--size-h1);
}

#discount article
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    
}

#discount article div
{
    padding: 10px;
    margin: 5px;
    width: 35%;
}

#discount article div h2, #discount article div p
{
    padding: 8px;
}

#discount article div h2
{
    font-size: var(--size-h2);
    text-align: center;
}

#discount article div p
{
    font-size: var(--size-p);
    text-align: justify;
}

@media (max-width: 760px)
{
    main article
    {
        width: 100%;
    }
}





