* 
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}




/* background */

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url(Images/Others/projects.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(10, 10, 10, 0.562);
}

main article
{
    width: 70%;
}

main article h1, main article p
{
    text-align: center;
    color: white;
}

main article h1
{
    font-size: var(--size-h1Main);
}
main article p
{
    font-size: var(--size-pMain);
}

/* what is */

#whatIs
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

#whatIs article
{
    padding: 10px;
    width: 45%;
}

.imgWhat img
{
    width: 55%;
}

.img2
{
    transform: translateY(-50px) translateX(100px);
    width: 360px;
}

.textWhat h2, .textWhat p
{
    padding: 8px;
}

.textWhat h2
{
    font-size: var(--size-h2);
}
.textWhat p
{
    font-size: var(--size-p);
}

/* Mission and Vision */

#missionAndVision
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#missionAndVision article
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

#missionAndVision article img
{
    width: 35%;
    padding: 10px;
    border-radius: 30% 50px ;
}

#missionAndVision article div
{
    width: 40%;
    padding: 10px;
    margin: 5px;
}

#missionAndVision article div h2, #missionAndVision article div p
{
    padding: 8px;
}

#missionAndVision article div h2
{
    font-size: var(--size-h2);
    border-top: solid var(--background-JX) 5px;
}

#missionAndVision article div p
{
    font-size: var(--size-p);
    text-align: justify;
}

/* objetives */

#objectives
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

#objectives article
{
    width: 40%;
}

#objectives article h2, #objectives article p
{
    padding: 8px;
}

#objectives article h2
{
    font-size: var(--size-h2);
    letter-spacing: 2px;
    border-top: solid var(--background-JX) 5px;

}

#objectives article p
{
    font-size: var(--size-p);
    text-align: justify;
}

#objectives div
{
    width: 45%;
}

#objectives div h2, #objectives div ul
{
    padding: 8px;
}

#objectives div h2
{
    font-size: var(--size-h2);
}

#objectives div ul li
{
    font-size: var(--size-p);
    padding: 5px;
    text-align: justify;
}


@media (max-width: 760px)
{
    main article
    {
        width: 100%;
    }
}



