* 
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root
{

/* header */
--color-aHeader: white;
--color-JX: black;

--size-aHeader: 20px;
--size-JX: 22px;



/* main */
--size-h1Main: 65px;
--size-pMain: 30px;



/* background */

--background-a: rgba(255, 255, 255, 0.836);

/* our working process */

--border-WorkingProcess: rgb(253, 163, 17);
--color-iWorkingProcess: rgb(23,25,24);

/* footer */

--color-icon: white;
--color-copy: gray;
--color-aFooter: white;
--background-footer: rgb(23,25,24);



/* font size */

--size-h1: 60px;
--size-h2: 40px;
--size-h3: 22px;
--size-p: 22px;
--size-a: 20px;

}





/* background */

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Images/Others/pexels-picjumbocom-196644.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(10, 10, 10, 0.562);
}

main article
{
    width: 70%;
}

main article h1, main article p
{
    text-align: center;
    color: white;
}

main article h1
{
    font-size: var(--size-h1Main);
}
main article p
{
    font-size: var(--size-pMain);
}

/* services */

#ourServices
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 50px 0;
}

#ourServices h1
{
    font-size: var(--size-h1);
}

.services
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.services article
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    padding: 0px 10px;
    margin: 5px;
}

.services span
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.services span div
{
    padding: 8px;
    margin: 0 10px;
}

.services span div h2, .services span div p
{
    padding: 5px;
    text-align: justify;
}

.services span div h2
{
    font-size: var(--size-h2);
}
.services span div p
{
    font-size: var(--size-p);
}

/* workingProcess */
#process
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.workingProcess
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    flex-wrap: wrap;
}

.workingProcess article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin: 10px;

}

.workingProcess article div
{
    border: solid var(--border-WorkingProcess) 5px;
    border-radius: 50%;
    padding: 20px;
    
}

.workingProcess article div i
{
    color: var(--color-iWorkingProcess);
}

.workingProcess article h3
{
    padding: 5px;
    font-size: var(--size-h3);
}


/* projects */

#projects
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    margin: 20px;
}

#projects h1
{
    font-size: var(--size-h1);
    padding: 20px;
}

#projects article
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

#projects article div
{
    width: 45%;
    padding: 20px;
    background-color: #2df144;
    border-radius: 40px 40%;
}

#projects article div h3, #projects article div p, #projects article div span
{
    padding: 8px;
}

#projects article div h2 a
{
    font-size: var(--size-h2);
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

#projects article div p
{
    font-size: var(--size-p);
    text-align: justify;
}

#projects article div span
{
    display: flex;    
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

#projects article div span a
{
    font-size: var(--size-a);
    color: black;
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    
    background-color: var(--background-a);
    border-radius: 10px;

}



#projects article span
{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#projects article span img
{
    width: 250px;
    height: 130px;
    margin: 5px;
    border-radius: 10%;
}

.img5
{
    position: absolute;

}



